body {
  background-color: beige;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 75px;
}
